<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="notificationSender" class="com.adanali.spring.springpractice.EcosystemAndCore.EmailNotificationSender"/>
    <bean id="notificationService" class="com.adanali.spring.springpractice.EcosystemAndCore.NotificationService">
        <constructor-arg ref="notificationSender"/>
    </bean>
</beans>